.container {
  padding: 0 2rem;
}

.heading {
  color: black;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  padding: 24px 40px;
  min-height: 100vh;
  background-color: white;
}

.vstack {
  width: 100%;
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.hstack {
  width: 100%;
  gap: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
